node_modules
**/node_modules
*/build
**/dist
.env
**/.env
note.txt
test.ts
test.js
testData1.txt
testData2.txt
formatData.ts
test.txt
#jsk/src/jobtasks
#api/src/jobtask
#packages/*
#**/flatworks
#emp/src/tools
#jsk/src/tools

**/flatworks/shellscripts/wallets

# ignore database & certificates
docker-config/dbdata
docker-config/mongobackups
docker-config/certbot

